@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

body {
    background-color: #000000; 
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
}


.card {
    background: rgba(46, 41, 41, 0.699);
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 10px 30px -15px rgba(56, 56, 56, 0.377);
    backdrop-filter: blur(5px); /* Glass effect */
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #f1f8f8; 
}


h2 {
    color: #c75d5d; 
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 800;
}

p, li {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #ffffff; 
    margin: 0;
}

strong {
    color: #e6f1ff; 
}

.full-width {
    grid-column: span 2;
}

.skill-tag {
    display: inline-block;
    background-color: rgba(255, 234, 234, 0.1);
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 8px;
    margin-top: 10px;
    font-family: monospace;
}


.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 70%;
    border: 2px solid #ffee00;
    margin-bottom: 15px;
}

.profile-img2 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 70%;
    border: 2px solid #ffffff;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .full-width {
        grid-column: span 1;
    }
}